%h2 Bots Not Cattle
%i Josh Berkus - gh: jberkus - twit: @fuzzychef
%br
%a{:href => "http://jberkus.github.io/pdf_presos/bots_not_cattle_automacon.pdf"} Slide Link
%br 
%p When working on HA Postgres, the tools available at the time left database automation on the side of the road.  This lead to thinking about the third wave of automation.
%p The Waves of Automation
%ol{:type => "1"}
	%li Software Packages + BASH
	%li Configuration Management
	%li Containers
%p But aren't containers really just another form of configuration management?
%p So what is the real third wave?
%i Treat your servers like cattle, not like pets.
%p Pets require
%ul{:type => "square"}
	%li Constant Attention
	%li Care, Feeding
%p Cattle have some problems
%ul{:type => "square"}
	%li They are dumb
	%li They only move in one direction
	%li They require some smart central management
%p That central management has limits.
%ul{:type => "square"}
	%li Infrastructure scale
	%li People Scale (Dev/Ops Split)
	%li Communication Lag
	%li Application Event Response
%p But while playing Robo Rally, an idea was born -- what if these cattle were reactive?
%p What if our servers were intelligent bots, capable of reacting to deploy, config, availability events and were programmed to do the right thing in each case?
%p Bot Rules:
%ul{:type => "square"}
	%li Self-configuring
	%li Keeping local state
	%li Accepting of a distributed config
	%li Having Event-Driven Response
%p There are a few Bot-Ish Platforms - Postgres, Chef, Kubernetes, Mesos
%p So, boticize your apps.  Make them smart.  Make them react to their world.
%p Devs NEED TO AUTOMATE!
%p "We're all Devops now!"
