%h2 Being An Introvert And At A Conference, Not As Hellish As You Think It Is
%i JJ Ashgar - "A crippling introvert!"
%br
%p Whereas extroverts are energized by interacting with other people, introverts are drained by the process.
%p Nobody likes a crabby conference goer.
%p The first conference, especially when alone, is the hardest.
%p The Waves of Automation
%p Some tactics:
%ul{:type => "square"}
	%li Try sitting at an empty table that is near other people
	%li Booze helps, really.
	%li Do your best not to open a notebook or laptop, it makes you appear unavailable and can otherwise engage you.
	%li Sneak looks and listens at what other people are huddled around.  You might actually find it interesting.
	%li Find a conference buddy, ideally someone you don't work with and perhaps haven't met prior to the conference.
	%li Take breaks from the conf.  Skip sessions if you need to.  Naps are awesome, too.
	%li Bring games to share with others.  Break out a game and see who takes interest.
%p Being an introvert isn't an excuse to not have a good time and meet new people.
%p You'd be surprised at how many others are just like you, cashing in their extrovert tokens in the same awkward ways as you!